---
---
<html>
  <body class="p-6">
    <h1 class="text-3xl font-bold">Helloaaaa, でーはん</h1>
    <p class="mt-4">これは でーはん専用 Astro スターターやで。</p>
  </body>
</html>
---
---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Astro Snippet App</title>
  </head>
  <body class="p-6">
    <h1 class="text-3xl font-bold">Hello, でーはん</h1>
    <p class="mt-4">これは でーはん専用 Astro スターターやで。</p>
  </body>
</html>
